.sliderHexagon

    .sliderHexBorder.left_top
    .sliderHexBorder.left_bottom
    .sliderHexBorder.right_top
    .sliderHexBorder.right_bottom


    .sliderHex.hexImage_layout3
        .hexInside
            .hexImage.hexImage1
            .hexImage_layout
    .sliderHex.hexImage_layout2.sliderHex__current
        .hexInside
            .hexImage.hexImage2
            .hexImage_layout.hexImage_layout__current
    .sliderHex.hexImage_layout1
        .hexInside
            .hexImage.hexImage3
            .hexImage_layout