.faq(id="faq")
    .faq_wrapper
        .faq_thin.thin1
        .faq_wide.wide1
            .wide1_title
                .title_left 24th august
                .title_right
                    .text health & fitness 
                    img(src="assets/image/label.png")
        .faq_thin.thin2
            .thin2_header
                .thin2_wrapper
                    .thin2_name track your
                    .thin2_title lifestyle
                .thin2_icon
                    img(src="assets/image/user_label.png")
            .thin2_content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.



        .faq_wide.wide2
            .wide2_title summer of fun
            .wide2_content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        .faq_wide.wide3
        .faq_thin.thin3
        .faq_wide.wide4
            .thin2_header.nowrap
                .thin2_wrapper
                    .thin2_name track your
                    .thin2_title get involved in yourself
                .thin2_icon
                    img(src="assets/image/starwberry.png")
            .thin2_content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumdolore eu fugiat nulla pariatur.
        .faq_thin.thin4
            .thin2_header
                .thin2_wrapper
                    .thin2_name.white improve your
                    .thin2_title.white eating habits
                .thin2_icon
                    img(src="assets/image/avocado.png")
            .thin2_content.white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.