.footer(id="contact")
    .footer_left
        .footer-title Recources
        .footer-content Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. work-in-progress by dragging images into projects and sharable client group
    .footer_right
        .footer_right-top
            .right_justify
                .footer-title About us
                .footer-content Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. work-in-progress by dragging images into projects and sharable client group
            .footer_icons
                .footer_icons-title Stay in touch
                .footer_icons-content
                    a.icon.facebook(href="https://www.facebook.com/" target="_blank")
                        i.fab.fa-facebook-f
                    a.icon.twitter(href="https://twitter.com/" target="_blank")
                        i.fab.fa-twitter
                    a.icon.youtube(href="https://www.youtube.com/" target="_blank")
                        i.fab.fa-youtube
                    a.icon.invision(href="https://www.linkedin.com/" target="_blank")
                        i.fab.fa-invision


        .footer_right-bottom
            input.name(type="text" placeholder="Your Name")
            input.email(type="email" placeholder="Your Email")
            .button 
                .button_text Join Newsletter &nbsp;
                i.fas.fa-chevron-circle-right
