.services(id="work")
    .services_wrapper
        .services_title We launch leaders with big ideas
        .services_content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
