doctype html
html
    head
        meta(charset="UTF-8")
        title Fitness
        link(rel="stylesheet" type="text/css" href="libs/reset-css/reset.css")
        block head
    body
        block container
        block script
        script(src="libs/jquery/jquery.js")
        script(src="js/header.js")




