extends ./_template.pug

block head
    
    link(rel="stylesheet" type="text/css" href="style/style.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400,700" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")


block container
    .main_align
            include _main.pug

            include _about.pug

            include _faq.pug

            include _services.pug

            include _footer.pug

            //include _.pug
