@font-face {
  font-family: Proxima Nova Rg; 
  src: url('fonts/ProximaNovaExCn-Regular.ttf'); 
}
@font-face {
  font-family: Proxima Nova Cn Th; 
  src: url('fonts/ProximaNovaCond-Thin.ttf'); 
}
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  overflow-x: hidden;
  color: #ffffff;
  font-family: 'Proxima Nova Rg', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
/* ------------------------header--------------------------------- */
.header {
  width: 100%;
  padding: 10px 0; 
  background-color: #1D0537;
}
.nav {
  max-width: 1370px;
  margin: 0 auto;
}
.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-wrapper li {
  margin: 0 20px;
  transition: .3s;
}
.nav-link {
  text-transform: uppercase;
  padding: 0 5px 5px 5px;
  border-bottom: 1px solid transparent;
  transition: .5s;
  letter-spacing: 1px;
  font-size: 14px;
}
.nav-link:hover {
  border-bottom: 1px solid #FF0A84;
  
}
.logo {
  width: 210px;
  margin: 20px 50px;
  transition: .3s;
}
.logo-left {
  display: none;
}

.autorization {
  margin: 0 15px;
  cursor: pointer;
  width: 180px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid #596eff9e;
  background: #2778AB;
  -webkit-border-radius: 0 0 24px 24px;
  border-radius: 24px 24px 24px 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.autorization:hover {
  box-shadow: 0 0 10px #596eff9e;
}
@media screen and (max-width: 1310px) {
  .nav-link {
    font-size: 14px;
  }
  .autorization {
    width: 140px;
    font-size: 14px;
  }
  .logo {
    width: 180px;
  }
}
@media screen and (max-width: 1190px) {
  .nav-wrapper li {
    margin: 0 15px;
  }
  .logo {
    margin: 20px 40px;
  }
}
@media screen and (max-width: 1110px) {
  .nav-wrapper li {
    margin: 0 10px;
  }
  .logo {
    margin: 10px 20px;
  }
}
.header_button {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30px;
  right: 40px; }
  .header_button:hover {
    cursor: pointer; }
  .header_button span {
    display: inline-block;
    width: 30px;
    height: 3px;
    margin: 2px 0;
    background-color: #ffffff;
    border-radius: 2px;
  } 
@media screen and (max-width: 990px) {
  .logo {
    display: none;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    justify-content: center;
    width: 100%;
    background: #1D0537;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .nav-wrapper li {
    margin: 15px 0;
  }
  .nav-wrapper .autorization {
    margin: 15px 0 50px;
  }
  .nav-wrapper__current {
    height: 400px; 
    
  }
  .logo-left {
    display: block;
    width: 170px;
    margin: 10px 30px;
    transition: .3s;
  }
  .header_button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 350px) {
  .logo-left {
    display: block;
    width: 120px;
    margin: 10px 30px;
    transition: .3s;
  }
}
/* -------------------------live-block----------------------------- */

.live-block {
  width: 100%;
  background: #0A0029;
}
.live-block-wrapper {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  height: 170px;
  padding-left: 200px;
}
.live-title {
  background-color: #0A0029;
  color: white;
  position: absolute;
  height: 170px;
  left: 0;
  top: 0;
  width: 160px;
  z-index: 3;
  padding: 0 0 0 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.decor-line {
  content: '';
  position: absolute;
  width: 150px;
  height: 30px;
  background: #FF0A84;
  margin: 20px 0 20px 10px;
  top: 50px;
  z-index: 5;
}
.decor-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 0 45px 44px;
  border-color: transparent transparent transparent #0A0029;
  z-index: 4;
  position: absolute;
  top: 40px;
  left: 160px;
}
.live-title-text1 {
  font-weight: 100;
  font-style: normal;
  letter-spacing: 1.2px;
  position: absolute;
  top: 30px;
}
.live-title-text2 {
  font-weight: normal;
  font-style: normal;
  margin: 0;
  margin-top: 46px;
  position: absolute;
}
.live-title:after {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 85px 0 85px 84px;
  border-color: transparent transparent transparent #FF0A84;
  content: "";
  top: 0;
  right: -84px;
  z-index: 1;
}
.live-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.live-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  min-width: 107px;
}
.live-circle {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: url('images/foto.png') no-repeat center;
  box-shadow: 0 0 5px #fff;
}
.live-item-name {
  font-size: 14px;
  margin-top: 10px;
  transition: .3s;
}
.live-item-name:hover {
  color: #FF0A84;
  text-decoration: underline;
}
@media screen and (max-width: 440px) {
  .live-title {
    display: none;
  }
  .live-block-wrapper {
    padding: 0;
  }
  .live-item {
    margin: 0 20px;
  }
  .live-content {
    margin: 0;
  }
}
.livedrop-block {
  margin: 0 auto;
  position: relative;
  background: rgb(49,41,60);
  background: -webkit-linear-gradient(left, rgba(49,41,60,1) 0%, rgba(52,1,96,1) 100%);
  background: -o-linear-gradient(left, rgba(49,41,60,1) 0%, rgba(52,1,96,1) 100%);
  background: linear-gradient(to right, rgba(49,41,60,1) 0%, rgba(52,1,96,1) 100%)    ;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height:90px;
  padding-left: 200px;
}

.livedrop-block .description-blok {
  width: 180px;
  min-width: 180px;
  background-color: #2a2b38;
  margin-right: 10px
}

.livedrop-block .description-blok a {
  color: #7b7e99;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 0;
  -webkit-transition: color .7s ease;
  -o-transition: color .7s ease;
  transition: color .7s ease
}

.livedrop-block .description-blok a:first-child {
  border-bottom: 1px solid #272834
}

.livedrop-block .description-blok a:hover {
  color: #fff
}

.livedrop-block .description-blok a img {
  padding-right: 15px;
  vertical-align: top
}

.livedrop-block .livedrop {
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* overflow: hidden; */
}

.livedrop-block .livedrop .item {
  position: relative;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 3
}

.livedrop-block .livedrop .item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.livedrop-block .livedrop .item:hover .caption {
  display: block
}

.livedrop-block .livedrop .item .align {
  width: 131px;
  height: 84px;
  text-align: center;
      -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.livedrop-block .livedrop .item .align img {
  max-width: 100%;
  margin-top: 1%;
}

.livedrop-block .livedrop .item .caption {
  position: absolute;
  top: 130px;
  left: -16px;
  width: 155px;
  height: 105px;
  background: rgba(12, 12, 15, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  padding-top: 15px;
  display: none;
  z-index: 3;
}
.livedrop-block .livedrop .item .caption:after {
   content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid rgba(12, 12, 15, 0.75);
}

.livedrop-block .livedrop .item .caption .caption-avatar {
  width: 55px;
  height: 55px;
  background-color: #212331;
  margin: auto;
  -webkit-border-radius: 10em;
  border-radius: 10em;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  overflow: hidden
}

.livedrop-block .livedrop .item .caption .caption-avatar img {
  max-width: 100%;
  max-height: 100%
}

.livedrop-block .livedrop .item .caption .caption-name {
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding-top: 5px
}

.liveName {
  background-color: #21182d;
  color: white;
  position: absolute;
  height: 90px;
  left: 0;
  top: 0;
  width: 160px;
  z-index: 3;
  padding: 20px 0 0 50px;

}
.liveName:after{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 0 45px 44px;
  border-color: transparent transparent transparent #21182d;
  content: "";
  top:0;
  right: -44px;
}


.liveName-text1{
  font-family: 'Proxima Nova Cn Th';
  font-weight: 100;
  font-style: normal;
  margin: 0 0 10px 0;
  letter-spacing: 1.2px;
  font-size: 14px;
}
.liveName-text2{
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  margin: 0 0 10px 0;
  font-size: 14px;
}
.liveName span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
     margin-right: 3px;
  text-align: center;
  transform: rotate(-90deg);
}
.live-gray {
  background: url('http://easy-loot.ru/img/live/bg-gray.png') no-repeat;
  background-position: center
}

.live-pink {
  background: url('http://easy-loot.ru/img/live/bg-pink.png') no-repeat;
  background-position: center
}

.live-yellow {
  background: url('http://easy-loot.ru/img/live/bg-purple.png') no-repeat;
  background-position: center
}

.live-blue {
  background: url('http://easy-loot.ru/img/live/bg-blue.png') no-repeat;
  background-position: center
}
.live-purple {
  background: url('http://easy-loot.ru/img/live/bg-purple.png') no-repeat;
  background-position: center
}
.live-red {
  background: url('http://easy-loot.ru/img/live/bg-red.png') no-repeat;
  background-position: center
}

/*  --------------------------------------advantages---------------------------- */
.advantages {
  width: 100%;
  background: #1D0537;
  padding: 60px 0 50px 0; 
}
.advantages-wrapper {
  max-width: 1370px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 0 100px; 
  transition: .3s
}
.advantages-number {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FF0A84;
  box-shadow: 0 0 10px #FF0A84;
  border-radius: 50%;
  color: #FF0A84;
  font-size: 40px;
  font-weight: 900;
  
}
.advantages-text {
  margin: 25px 0 20px 0;
  letter-spacing: 2px;
  font-size: 18px;
}
@media screen and (max-width: 1200px) {
  
  .advantages-item {
    margin: 0px 80px;
    min-width: 180px;
  }
}
@media screen and (max-width: 990px) {
  .advantages-item {
    margin: 0px 60px;
    
  }
}
@media screen and (max-width: 890px) {
  .advantages-item {
    margin: 0px 40px;
    
  }
}
@media screen and (max-width: 760px) {
  .advantages-wrapper {
    flex-wrap: wrap;
  }
  .advantages-item {
    margin: 30px 100px;
  }
}
@media screen and (max-width: 580px) {
  .advantages-item {
    margin: 30px 100px;
  }
}
@media screen and (max-width: 400px) {
  .advantages-item {
    margin: 30px 20px;
  }
}

/* -------------------------try---------------------------- */
.try {
  width: 100%;
  background-color: #0A0029;
  background: url('images/bg.jpg') no-repeat top;
  background-size: cover;
  transition: .3s;
}
.try-wrapper {
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.try-content {
  margin-left: 50px; 
}
.try-title {
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 40px 0;
  font-weight: 400;
  transition: .3s;
}
.try-text {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2;
  transition: .3s;
}
.try-button-wrapper {
  width: 100%;
}
.try-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF00FF;
  border-radius: 30px;
  background: #FF00FF;
  width: 270px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: .3s;
  margin: 50px auto 0;
}
.try-button:hover {
  box-shadow: 3px 4px 2px rgba(255,0,255,0.5);
}
@media screen and (max-width: 800px) {
  .try {
    background: url('images/bg.jpg') no-repeat top left;
  }
}
@media screen and (max-width: 730px) {
  .try-content {
    margin: 0 30px;
  }
  .try-text br{
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .try-title {
    font-size: 16px;
  }
  .try-text {
    font-size: 16px;
  }
  .try-wrapper {
    padding-top: 0;
  }
}
/* ---------------------service------------------------- */
.service {
  width: 100%;
  background: #1D0537;
}
.service-wrapper {
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transition: .3s;
}
.service-item {
  margin: 70px 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-icon {
  width: 180px;
  height: 180px;
  border: 2px solid #2778AB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
}
.service-icon-wrapper{
  content: '';
  width: 220px;
  height: 220px;
  border: 2px solid transparent;
  border-radius: 50%;
  position: relative;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-icon-wrapper:hover {
  border: 2px solid #ffffff;
  box-shadow: 0 0 20px #2778AB, 0 0 20px #2778AB inset;
}
.service-icon1 {
  background: url('images/icon1.PNG') no-repeat center;
}
.service-icon2 {
  background: url('images/icon2.PNG') no-repeat center;
}
.service-icon3 {
  background: url('images/icon3.PNG') no-repeat center;
}
.service-text {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin: 25px 0 0; 
}
.service-more {
  margin-top: 0px;
  color: #FF00FF;
  letter-spacing: 2px;
  text-decoration: underline;
  transition: .3s;
}
.service-more:hover {
  text-decoration: none;
}
@media screen and (max-width: 1220px) {
  .service-item {
    margin: 70px 50px 50px;
  }
}
@media screen and (max-width: 1136px) {
  .service-item {
    margin: 70px 30px 50px;
  }
}
@media screen and (max-width: 920px) {
  .service-wrapper {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .service-item {
    margin: 70px 150px 0px;
  }
}
@media screen and (max-width: 650px) {
  .service-item {
    margin: 70px 50px 0px;
  }
}
@media screen and (max-width: 400px) {
  .service-item {
    margin: 70px 20px 0px;
  }
}
/* -----------------------case------------------------- */
.case {
  width: 100%;
  height: 300px;
}
/* -----------------------service-block-------------------------------- */
.service-block {
  width: 500px;
  background: #212331;
  position: absolute;
  left: -200px;
  top: 30px;
  opacity: 0;
  overflow: hidden;
  transition: .5s;
  border-radius: 20px;
  padding: 25px 20px;
  transition: 0.3s;
  cursor: default;
}
.service-more-link {
  position: relative;
}
.service-more-link:hover .service-block {
  opacity: 1;
}
.service-block-title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: 15px;
}
.service-block-content {
  display: flex;
  justify-content: center;
}
.service-block-left, .service-block-right {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  align-items: center;
}
.service-block-text {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 10px;
}
.service-image {
  width: 100px;
  border-radius: 20px;
}
.service-image img {
  width: 100%;
  border-radius: 20px;
  transition: .3s;
}
.service-image img:hover {
  transform: scale(1.1);
}
.service-stikers img {
  width: 70px;
  transition: .3s;
  margin-top: 15px;
}
.service-stikers img:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 1330px) {
  .service-block {
    left: -250px;
  }
}
@media screen and (max-width: 1130px) {
  .service-block {
    left: -300px;
  }
}
@media screen and (max-width: 920px) {
  .service-block {
    left: -200px;
  }
}
@media screen and (max-width: 470px) {
  .service-block {
    width: 300px;
    left: -100px;
  }
  .service-block-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .service-block-left {
    margin: 30px 0
  }
  .service-image img {
    margin-left: 30px;
  }
}