.author
    .author_title Author
    .author_line
    .author_wrap
        .author_foto
        .author_info
            .info-name Karen Gray
            .info-country United States
            .info-network
                a.i.fab.fa-google-plus-g(href="#")
                a.i.fab.fa-twitter(href="#")
                a.i.fab.fa-facebook-f(href="#")
                a.i.fab.fa-pinterest(href="#")
            .author_line
            .info-title About Lemon
            .info-content Over the fifteen-year life span of Food.com, we’ve learned that – in addition to eating – sharing is what you do best. And thanks to the 20 million of you who come here each month, we now have 500,000 recipes to show for it, more than anywhere else in the digital universe. We also have tons crazy-tempting photos, troves of recipe reviews and more than 2 million Facebook likes. That’s a heck of a lot of Food. Thank you!
            .info-lettering
                img(src="assets/image/autor/lettering.png")

