.error(id="error")
    .error_title 404
    .error_wrap
        .error_line
        .error_content
            

            .item_lettering-title Sorry
            .item_lettering-content 
                |we couldn't 
            .item_lettering-content 
                |find the page
            .item_lettering-smile 
                span :
                span.thin (

        .error_button back
