.footer
    .footer_wrapper
        a.footer_logo(href="#")
            img(src="assets/image/logo-footer.png")
        .footer_links
            ul
                li
                    a(href="#") home
                li
                    a(href="#") recipe
                li
                    a(href="#") photo galleries
                li
                    a(href="#") videos
                li
                    a(href="#") all categories
        .footer_reserved
            i.far.fa-copyright
            | &nbsp; lemon. all right reserved
    .footer_icons
        a.i.fab.fa-google-plus-g(href="#")
        a.i.fab.fa-twitter(href="#")
        a.i.fab.fa-facebook-f(href="#")
        a.i.fab.fa-pinterest(href="#")

