.login_signin
    .login
        .login_title 
            .login_title-name Login
        .login_line
        .login_content
            .login_content-title Login for LEMON
            input.login(type="text" placeholder="email or login")
            input.login(type="password" placeholder="password")
            .login_content-check
                .check_wrap
                    input(type="checkbox" value="yes" id="check")
                    label(for="check") Remember me
                a.question(href="#") Forgot your password ?
        .login_bottom
            .login_button
                .button login
            .login_icons
                a.i.fab.fa-facebook-f(href="#")
                a.i.fab.fa-google-plus-g(href="#")
            .login_accont
                |Don't have an accont? 
                a.account(href="#") Sign in

    .signin
        .signin_title 
            .signin_title-name Sign in
        .signin_line
        .signin_content
            .signin_content-title Sign in for LEMON
            input.login(type="text" placeholder="email")
            input.login(type="text" placeholder="user name")
            input.login(type="password" placeholder="password")
            input.login(type="password" placeholder="reapet password")
        .login_bottom
            .login_button
                .button sign up
            .login_icons
                a.i.fab.fa-facebook-f(href="#")
                a.i.fab.fa-google-plus-g(href="#")
        .signin_accont
            |By joining LEMON, you agree to our 
            a.account(href="#") Terms of Service
