include component/_metaInfo.pug
.popular(id="popular")
    .popular_name Popular Now
    .popular_title Vanilla Frozen Coffee
    .popular_content Mix coffee, sugar and creamer. Pour into blender and add ice cubes. Blend until smooth.
    .popular_block-meta
        .meta_button get it recipe
        +meta(6, 240, 400)

    .popular_image
