.post
    .post_title
        .post_title-left Post a Comment
        .post_title-right
            span.post_text Facebook
            span.post_text /
            span.post_text Twitter
    .post_content
        .post_content-foto
        .post_content-wrap
            input.post_input(type="text")
            .button post

