.recipe(id="easy")
    .recipe_foto
        a.foto-label(href="#")
            i.far.fa-file-image
    .recipe_item
        .recipe_item-title Bananas Foster Ice Cream Cake
        .recipe_item-metaButton
            .item-meta 
                i.far.fa-clock &nbsp;
                .time 15mins &nbsp;

                .indicator
                    .line.line_1
                    .line.line_2
                    .line.line_3
                    .line.line_4
                .easy  &nbsp; Easy



            .item-button save repice
        .recipe_item-contents.content.demo-y
            .ingredients
                span 1 (8 ounce) container frozen whipped topping, thawed
                span 20 chocolate round wafers, divided
                span 1 (7 1/4 ounce) bottle Smucker's® Hot Dark Chocolate Microwaveable Topping, divided
            .caption Directions
            .content2 ARRANGE 8 to 9 ice cream sandwiches in 9-inch square pan, cutting to form an even layer. Spread with half of whipped topping. Break or crush chocolate wafers and sprinkle over the whipped cream. Microwave 1 cup of chocolate topping into small microwave-safe bowl on HIGH for 30 seconds. Drizzle evenly over wafers. TOP with remaining 8 to 9 ice cream sandwiches to form an even layer. Spread with remaining whipped topping. Freeze 3 hours or overnight. Microwave 1 cup of chocolate topping into small microwave-safe bowl on HIGH for 30 seconds. Drizzle evenly over wafers. TOP with remaining 8 to 9 ice cream sandwiches to form an even layer. Spread with remaining whipped topping. Freeze 3 hours or overnight. Microwave 1 cup of chocolate topping into small microwave-safe bowl on HIGH for 30 seconds. Drizzle evenly over wafers. TOP with remaining 8 to 9 ice cream sandwiches to form an even layer. Spread with remaining whipped topping. Freeze 3 hours or overnight. 



