.smallBlocks
    .smallBlocks_left
        include _smallSlider.pug

        include _target.pug

    .smallBlocks_middle

        include _recipesmall.pug

        include _tags.pug

        include _calendar.pug

    .smallBlocks_right

        include _popular.pug

        include _timeline.pug