doctype html
html
    head
        meta(charset="UTF-8")
        title Lemon
        link(href="libs/datepicker/datepicker.min.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" type="text/css" href="libs/reset-css/reset.css")
        link(rel="stylesheet" type="text/css" href="libs/scrollbar/jquery.mCustomScrollbar.css")
        
        
        block head
    body
        
        block container


        

        block script
        script(src="libs/jquery/jquery.js")
        script(src="libs/datepicker/datepicker.min.js")
        script(src="libs/datepicker/datepicker.en.js")
        script(src="libs/scrollbar/jquery.mCustomScrollbar.concat.min.js")
        script(src="js/header.js")
        script(src="js/mainSlider.js")
        script(src="js/scrollbar.js")
        script(src="js/smallSlider.js")
        script(src="js/recipesmall.js")
        script(src="js/comments.js")
        script(src="js/post.js")



