.timeline
    .timeline_title 
        .timeline_title-name Timeline
        .timeline_title-icons 
            +icons
    .timeline_line
    .timeline_name Time line
    .timeline_content
        .timeline_content-item
            .item_name easy
            .item_wrap
                .item_block1
                .item_min 15mins
        .timeline_content-item
            .item_name middle
            .item_wrap
                .item_block2
                .item_min 25mins
        .timeline_content-item
            .item_name long
            .item_wrap
                .item_block3
                .item_min 40mins
    .timeline_bottom
        .timeline_smallline
        .timeline_text Eam adhuc iudico percipitur ex, ut malis audire voluptaria has. 

