mixin meta(time, comment, view)
    .gallery_item-meta 
        i.far.fa-clock &nbsp;
        .time= time
            |mins &nbsp;
        .line | &nbsp;
        i.far.fa-comment &nbsp;
        .comment= comment 
            | &nbsp;
        i.far.fa-eye &nbsp;
        .view= view
