.contact
    .contact_wrap
        .contact_line
        .contact_name contact us
        .contact_title Let’s talk about the project
        form.contact_center
            .form_item
                input(type="text" required).form_input
                .line
                label.form_label your name
            .form_item
                input(type="text" required).form_input
                .line
                label.form_label your email
            .form_item
                input(type="text" required).form_input
                .line
                label.form_label company
            .form_item
                input(type="text" required).form_input
                .line
                label.form_label subject
            .form_item.justify
                textarea(name="text" required).form_input
                .line
                label.form_label your message
            
            button.button get in touch  
                i.fas.fa-long-arrow-alt-right
        footer.contact_footer
            a.footer_logo(href="#")
            .footer_address
                .footer_address-title california office
                .footer_address-content 4243 Woodland Terrace Sacramento, CA 95814 916 753 2645
            .footer_address
                .footer_address-title new york office
                .footer_address-content 885 Oakwood Avenue New York, NY 10013 
                    br
                    span 212 660 0744
            .footer_address
                .footer_address-title other contact
                .footer_address-content jobs@templateocean.com
                .footer_address-logos
                    a.logo(href="#")
                        i.fab.fa-facebook-f
                    a.logo(href="#")
                        i.fab.fa-twitter
                    a.logo(href="#")
                        i.fab.fa-pinterest-p
                    a.logo(href="#")
                        i.fab.fa-instagram
                    a.logo(href="#")
                        i.fab.fa-dribbble

