.main
    .main_layer
        .main_title We're 
            span.active Fusion
            |, We Build Things for Human
            .main_title-bottom
            .main_title-top
            .main_title-right
            .main_title-left
        .main_links-wrap
            .main_links
                a.main_link(href="#") design
                .link_line
                a.main_link(href="#") strategy
                .link_line
                a.main_link(href="#") branding
        a.main_arrow(href="#")
            .arrow
        .main_bottom
            a.main_bottom-logo(href="#")
            a.main_bottom-link(href="#")
                .link_title get in touch
                .link_icon
                    img(src="assets/image/arrowRight.png")

