.portfolio
    .portfolio_wrap
        .portfolio_top-wrap
            .portfolio_top
                .portfolio_line
                .portfolio_name branding & design
                .portfolio_title Project One
            .portfolio_top.hide
                .portfolio_line
                .portfolio_name branding & design
                .portfolio_title Project Two
            .portfolio_top.hide
                .portfolio_line
                .portfolio_name branding & design
                .portfolio_title Project Three

        .portfolio_slider-wrap
            .portfolio_slider

                .portfolio_slide1.slide
                    img(src="assets/image/slide6.jpg")
                .portfolio_slide2.slide
                    img(src="assets/image/slide3.jpg")
                .portfolio_slide3.slide
                    img(src="assets/image/slide2.jpg")
        

        .potfolio_bottom-wrap
            
            .potfolio_bottom
                a.potfolio_bottom-text.potfolio_bottom-link1(href="#")
                    .text project details
                    .arrow
                        img(src="assets/image/arrowRight.png")
                a.potfolio_bottom-text.potfolio_bottom-link2(href="#")
                    .text view slides
                    .arrow 
                        img(src="assets/image/arrowRight.png")
                .potfolio_bottom-line
            
            .potfolio_bottom
                a.potfolio_bottom-text.potfolio_bottom-link1(href="#")
                    .text project details2
                    .arrow
                        img(src="assets/image/arrowRight.png")
                a.potfolio_bottom-text.potfolio_bottom-link2(href="#")
                    .text view slides2
                    .arrow
                        img(src="assets/image/arrowRight.png")
                .potfolio_bottom-line
            
            .potfolio_bottom
                a.potfolio_bottom-text.potfolio_bottom-link1(href="#")
                    .text project details3
                    .arrow
                        img(src="assets/image/arrowRight.png")
                a.potfolio_bottom-text.potfolio_bottom-link2(href="#")
                    .text view slides3
                    .arrow
                        img(src="assets/image/arrowRight.png")
                .potfolio_bottom-line
    .portfolio_radio
        .portfolio_radio-button
            input(type="radio" id="button1" name="button" checked)
            label(for="button1")
        .portfolio_radio-button
            input(type="radio" id="button2" name="button")
            label(for="button2")
        .portfolio_radio-button
            input(type="radio" id="button3" name="button")
            label(for="button3")





