.services
    .services_wrap
        .services_line
        .services_name our services
        .services_title Our team will take your business presence to new level
        .services_center
            .services_center-wrap
                .services_center-icon
                    img(src="assets/image/icon1.png")
                .services_center-title Strategy.
                .services_center-content Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
                a.services_center-link(href="#")
                    .link_name see details
                    .link_icon
                        img(src="assets/image/arrowRight.png")
            .services_center-wrap
                .services_center-icon
                    img(src="assets/image/icon2.png")
                .services_center-title Branding.
                .services_center-content Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
                a.services_center-link(href="#")
                    .link_name see details
                    .link_icon 
                        img(src="assets/image/arrowRight.png")
            .services_center-wrap
                .services_center-icon
                    img(src="assets/image/icon3.png")
                .services_center-title Design.
                .services_center-content Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.
                a.services_center-link(href="#")
                    .link_name see details
                    .link_icon 
                        img(src="assets/image/arrowRight.png")