doctype html
html
    head
        meta(charset="UTF-8")
        title Fusion Project

        link(rel="stylesheet" type="text/css" href="libs/reset-css/reset.css")
        
        
        block head
    body
        
        block container


        block script
        script(src="libs/jquery/jquery.js")
        script(src="js/main.js")
        script(src="js/services.js")
        script(src="js/portfolio.js")
        script(src="js/test.js")
        script(src="js/team.js")
        script(src="js/contact.js")




