.test
    .test_wrap
        .test_line
        .test_name testimonials
        .test_title We have worked with some amazing companies around the world
        .test_logo
            img(src='assets/image/logo1.png')
            img(src='assets/image/logo2.png')
            img(src='assets/image/logo3.png')
            img(src='assets/image/logo4.png')
            img(src='assets/image/logo5.png')
            img(src='assets/image/logo6.png')
            img(src='assets/image/logo7.png')
        .test_slider-wrap
            .test_slider
                .test_slide
                    .test_slide-foto.foto1
                    .test_slide-content “1 These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
                    .test_slide-container
                        .test_slide-horline
                        .test_slide-name
                            .slide_name Anthony Watkins
                            .slide_info VP of Product, VISA
                        .test_slide-horline



                .test_slide
                    .test_slide-foto.foto2
                    .test_slide-content “2 These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
                    .test_slide-container
                        .test_slide-horline
                        .test_slide-name
                            .slide_name Anthony Watkins
                            .slide_info VP of Product, VISA
                        .test_slide-horline

                .test_slide
                    .test_slide-foto.foto3
                    .test_slide-content “3 These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
                    .test_slide-container
                        .test_slide-horline
                        .test_slide-name
                            .slide_name Anthony Watkins
                            .slide_info VP of Product, VISA
                        .test_slide-horline

                .test_slide
                    .test_slide-foto.foto4
                    .test_slide-content “4 These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
                    .test_slide-container
                        .test_slide-horline
                        .test_slide-name
                            .slide_name Anthony Watkins
                            .slide_info VP of Product, VISA
                        .test_slide-horline

                .test_slide
                    .test_slide-foto.foto5
                    .test_slide-content “5 These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”
                    .test_slide-container
                        .test_slide-horline
                        .test_slide-name
                            .slide_name Anthony Watkins
                            .slide_info VP of Product, VISA
                        .test_slide-horline


        .test_radio
            .test_radio-button
                input(type="radio" id="button4" name="buttons" checked)
                label(for="button4")
            .test_radio-button
                input(type="radio" id="button5" name="buttons")
                label(for="button5")
            .test_radio-button
                input(type="radio" id="button6" name="buttons")
                label(for="button6")
            .test_radio-button
                input(type="radio" id="button7" name="buttons")
                label(for="button7")
            .test_radio-button
                input(type="radio" id="button8" name="buttons")
                label(for="button8")
