html {
  font-size: 10px; }

.main_align {
  max-width: 160rem;
  margin: 0 auto; }

.header {
  padding: 4rem 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  @media screen and (max-width: 900px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: start;
          -ms-flex-align: start;
              align-items: start; } }
  .header_logo {
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header_logo .logo_wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 1rem; }
      .header_logo .logo_wrapper .logo_name {
        text-transform: uppercase;
        font-size: 2.2rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1.5;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 3px; }
      .header_logo .logo_wrapper .logo_line {
        width: 4.2rem;
        height: 0.3rem;
        background-color: #A2CA28; }
  @media screen and (max-width: 900px) {
    .header_button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      right: 4rem; }
      .header_button:hover {
        cursor: pointer; }
      .header_button span {
        display: inline-block;
        width: 3rem;
        height: 0.3rem;
        margin: 0.4rem 0;
        background-color: #ffffff; } }
  @media screen and (max-width: 900px) {
    .header_nav {
      height: 0;
      overflow: hidden;
      opacity: 0;
      -webkit-transition-duration: .8s;
           -o-transition-duration: .8s;
              transition-duration: .8s; } }
  .header_nav__current {
    height: auto;
    opacity: 1; }
  .header_nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 900px) {
      .header_nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: start;
            -ms-flex-align: start;
                align-items: start;
        margin-top: 2rem; } }
    .header_nav ul li {
      margin-left: 5rem;
      margin-right: 1rem;
      list-style-type: none; }
      @media screen and (max-width: 900px) {
        .header_nav ul li {
          margin: 1.5rem 4rem; } }
      .header_nav ul li a {
        text-transform: uppercase;
        font-size: 1.2rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1.5;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        -webkit-transition-duration: .3s;
             -o-transition-duration: .3s;
                transition-duration: .3s; }
        .header_nav ul li a:hover {
          color: #83969F; }

.main {
  max-width: 160rem;
  min-height: 89rem;
  background: url("../assets/image/bg_main.jpg") no-repeat;
  background-position: center;
  position: relative; }
  .main_title {
    position: absolute;
    top: 65rem;
    left: 10rem; }
    @media screen and (max-width: 400px) {
      .main_title {
        left: 1rem; } }
    .main_title h1 {
      text-transform: uppercase;
      font-size: 4rem;
      text-decoration: none;
      color: #ffffff;
      line-height: 1.5;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif; }
      .main_title h1 span.green {
        color: #A2CA28; }
    .main_title h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
      text-decoration: none;
      color: #ffffff;
      line-height: 1.5;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 3px;
      margin-left: 16rem; }
      .main_title h2 span.orange {
        color: #FD634E; }

.about {
  background-color: #A2CA28;
  max-width: 160rem;
  padding: 5rem 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .about_top {
    max-width: 120rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 auto 10rem; }
    .about_top-item {
      margin: 0 2rem;
      width: 26rem; }
      .about_top-item .item_icon {
        margin-bottom: 1rem;
        margin-top: 5rem; }
      .about_top-item .item_title {
        text-transform: none;
        font-size: 2.4rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        margin: 1rem 0 1rem; }
      .about_top-item .item_content {
        text-transform: none;
        font-size: 1.4rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1.5;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        line-height: 2;
        margin: 2rem 0 1rem 0; }
      .about_top-item .item_link {
        display: inline-block;
        text-transform: none;
        font-size: 1.4rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1.5;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        margin-top: 2rem;
        -webkit-transition-duration: .3s;
             -o-transition-duration: .3s;
                transition-duration: .3s; }
        .about_top-item .item_link:hover {
          color: #83969F; }
  .about_bottom {
    max-width: 120rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 auto; }
    .about_bottom .block_text {
      width: 40rem;
      min-height: 39.4rem;
      background-color: #ffffff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .about_bottom .block_text-title {
        text-transform: uppercase;
        font-size: 1.4rem;
        text-decoration: none;
        color: #FD634E;
        font-family: 'Montserrat', sans-serif;
        margin: 5rem 0 0; }
      .about_bottom .block_text-name {
        text-transform: uppercase;
        font-size: 3.5rem;
        text-decoration: none;
        color: #A2CA28;
        line-height: 1.5;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif; }
      .about_bottom .block_text-icon {
        margin: 2rem 0; }
      .about_bottom .block_text-content {
        text-transform: none;
        font-size: 1.4rem;
        text-decoration: none;
        color: #656E74;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        line-height: 2;
        text-align: center;
        margin: 0 4rem 1rem; }
      .about_bottom .block_text-link {
        display: inline-block;
        text-transform: none;
        font-size: 1.4rem;
        text-decoration: none;
        color: #A2CA28;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        border-bottom: 1px solid #A2CA28;
        line-height: 0.9;
        -webkit-transition-duration: .3s;
             -o-transition-duration: .3s;
                transition-duration: .3s; }
        .about_bottom .block_text-link:hover {
          border-bottom: none; }
    .about_bottom .block_image {
      width: 78rem;
      height: 39.4rem;
      position: relative;
      background: url("../assets/image/foto1.jpg") no-repeat; }
      .about_bottom .block_image .info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        bottom: 5rem;
        right: 2.5rem; }
        .about_bottom .block_image .info_use {
          text-transform: none;
          font-size: 1.2rem;
          text-decoration: none;
          color: #ffffff;
          line-height: 1.5;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif;
          -webkit-transition-duration: .3s;
               -o-transition-duration: .3s;
                  transition-duration: .3s; }
          .about_bottom .block_image .info_use span {
            text-transform: none;
            font-size: 1.2rem;
            text-decoration: none;
            color: #ffffff;
            line-height: 1.5;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif; }
          .about_bottom .block_image .info_use:hover {
            color: #FD634E; }
        .about_bottom .block_image .info_icon {
          margin-left: 1rem; }
      .about_bottom .block_image .info.left {
        left: 2.5rem; }
    .about_bottom .image_left {
      background: url("../assets/image/foto2.jpg") no-repeat;
      background-position: center; }

.faq {
  background-color: #FD634E;
  max-width: 160rem; }
  .faq_wrapper {
    max-width: 118rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .faq_wrapper .faq_thin {
      width: 40rem;
      min-height: 33rem;
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s; }
      .faq_wrapper .faq_thin:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 0 6rem rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 6rem rgba(0, 0, 0, 0.5); }
    .faq_wrapper .thin1 {
      background: url("../assets/image/image1.jpg") no-repeat;
      background-position: center; }
    .faq_wrapper .thin2 {
      background-color: #ffffff; }
      .faq_wrapper .thin2_header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: start;
            -ms-flex-align: start;
                align-items: start;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: 5rem 3rem 3rem 4rem; }
        .faq_wrapper .thin2_header .thin2_wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-right: 1rem; }
          .faq_wrapper .thin2_header .thin2_wrapper .thin2_name {
            text-transform: uppercase;
            font-size: 1.4rem;
            text-decoration: none;
            color: #FD634E;
            font-family: 'Montserrat', sans-serif; }
          .faq_wrapper .thin2_header .thin2_wrapper .white {
            color: #ffffff; }
          .faq_wrapper .thin2_header .thin2_wrapper .thin2_title {
            text-transform: uppercase;
            font-size: 3.5rem;
            text-decoration: none;
            color: #A2CA28;
            line-height: 1.5;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif; }
          .faq_wrapper .thin2_header .thin2_wrapper .white {
            color: #ffffff; }
      .faq_wrapper .thin2_content {
        text-transform: none;
        font-size: 1.4rem;
        text-decoration: none;
        color: #656E74;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        margin: 0 4rem 0 4rem;
        line-height: 2; }
    .faq_wrapper .thin3 {
      background: url("../assets/image/image4.jpg") no-repeat;
      background-position: center; }
    .faq_wrapper .thin4 {
      background-color: #A2CA28; }
      .faq_wrapper .thin4 .white {
        color: #ffffff; }
    .faq_wrapper .faq_wide {
      width: 78rem;
      min-height: 33rem;
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s; }
      .faq_wrapper .faq_wide:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 0 6rem rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 6rem rgba(0, 0, 0, 0.5); }
    .faq_wrapper .wide1 {
      background: url("../assets/image/image2.jpg") no-repeat;
      background-position: center; }
      .faq_wrapper .wide1_title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 5rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px; }
        .faq_wrapper .wide1_title .title_right {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .faq_wrapper .wide1_title .title_right .text {
            margin-right: 1rem; }
    .faq_wrapper .wide2 {
      background-color: #A2CA28; }
      .faq_wrapper .wide2_title {
        text-transform: uppercase;
        font-size: 3.5rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1.5;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        margin: 4rem 4rem 2rem; }
      .faq_wrapper .wide2_content {
        text-transform: none;
        font-size: 1.4rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        margin: 0 4rem 0 4rem;
        line-height: 2; }
    .faq_wrapper .wide3 {
      background: url("../assets/image/image3.jpg") no-repeat;
      background-position: center; }
    .faq_wrapper .wide4 {
      background-color: #ffffff;
      padding-bottom: 3rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .faq_wrapper .wide4 .thin2_header.nowrap {
        -ms-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap; }

.services {
  max-width: 160rem;
  min-height: 80rem;
  background: url("../assets/image/bg_footer.jpg") no-repeat;
  background-position: center;
  padding-top: 23rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .services_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .services_wrapper .services_title {
      text-transform: none;
      font-size: 4.5rem;
      text-decoration: none;
      color: #ffffff;
      line-height: 1.5;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 2rem;
      text-align: center;
      margin-left: 2rem;
      margin-right: 2rem; }
    .services_wrapper .services_content {
      text-transform: none;
      font-size: 1.6rem;
      text-decoration: none;
      color: #ffffff;
      line-height: 1.5;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      max-width: 50rem;
      text-align: center;
      margin: 0 2rem; }

.footer {
  max-width: 160rem;
  background-color: #0D1119;
  padding: 5rem 2rem 6rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .footer_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40rem; }
    @media screen and (max-width: 1240px) {
      .footer_left {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    @media screen and (max-width: 850px) {
      .footer_left {
        width: auto;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    .footer_left .footer-title {
      text-transform: none;
      font-size: 1.4rem;
      text-decoration: none;
      color: #ffffff;
      line-height: 1.5;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      margin: 2rem 3rem 2rem 2rem; }
    .footer_left .footer-content {
      text-transform: none;
      font-size: 1.4rem;
      text-decoration: none;
      color: #83969F;
      line-height: 1.5;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.7;
      margin: 0 3rem 0 2rem; }
  .footer_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media screen and (max-width: 850px) {
      .footer_right {
        width: 100%; } }
    .footer_right-top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .footer_right-top .right_justify {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 50rem; }
        @media screen and (max-width: 850px) {
          .footer_right-top .right_justify {
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            width: auto; } }
        .footer_right-top .right_justify .footer-title {
          text-transform: none;
          font-size: 1.4rem;
          text-decoration: none;
          color: #ffffff;
          line-height: 1.5;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif;
          margin: 2rem 10rem 2rem 2rem; }
        .footer_right-top .right_justify .footer-content {
          text-transform: none;
          font-size: 1.4rem;
          text-decoration: none;
          color: #83969F;
          line-height: 1.5;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif;
          line-height: 1.7;
          margin: 0 1rem 0 2rem; }
      .footer_right-top .footer_icons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 2rem 1rem 0 2rem; }
        .footer_right-top .footer_icons-title {
          text-transform: none;
          font-size: 1.4rem;
          text-decoration: none;
          color: #ffffff;
          line-height: 1.5;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif; }
        .footer_right-top .footer_icons-content {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          .footer_right-top .footer_icons-content .icon {
            width: 5.2rem;
            height: 5.2rem;
            border-radius: 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 2rem 0.6rem;
            text-decoration: none; }
            .footer_right-top .footer_icons-content .icon i {
              color: #ffffff;
              font-size: 2rem; }
          .footer_right-top .footer_icons-content .facebook {
            background-color: #2E3192; }
          .footer_right-top .footer_icons-content .twitter {
            background-color: #00AEEF; }
          .footer_right-top .footer_icons-content .youtube {
            background-color: #ED3123; }
          .footer_right-top .footer_icons-content .invision {
            background-color: #171A8F; }
    .footer_right-bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 5.5rem 1rem 0 2rem; }
      .footer_right-bottom input.name {
        margin-right: 0.6rem;
        padding-left: 2.5rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 20rem;
        height: 5rem;
        border-radius: 0.5rem;
        text-transform: none;
        font-size: 1.4rem;
        text-decoration: none;
        color: #656E74;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif; }
        .footer_right-bottom input.name:focus {
          color: #000000;
          outline: none; }
      .footer_right-bottom input.email {
        margin-right: 0.6rem;
        padding-left: 2.5rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 34rem;
        height: 5rem;
        border-radius: 0.5rem;
        text-transform: none;
        font-size: 1.4rem;
        text-decoration: none;
        color: #656E74;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif; }
        @media screen and (max-width: 638px) {
          .footer_right-bottom input.email {
            margin-top: 2rem; } }
        .footer_right-bottom input.email:focus {
          color: #000000;
          outline: none; }
      .footer_right-bottom .button {
        margin-right: 0.6rem;
        width: 20rem;
        height: 5rem;
        background-color: #A2CA28;
        border-radius: 0.5rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-transform: none;
        font-size: 1.4rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif; }
        @media screen and (max-width: 844px) {
          .footer_right-bottom .button {
            margin-top: 2rem; } }
        .footer_right-bottom .button:hover {
          cursor: pointer; }
